<!DOCTYPE html>

<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Lista de Tarefas</title>
    </head>
    <body>
        <h1> Lista de Tarefas</h1>
        <ul>
            {% for task in tasks %}
            <li>{{task.title}} | {{task.description}}
                <form action="/delete/{{task.id}}" method="post" style="display:inline">
                    <button type="submit">X</button>
                </form>
            </li>
            {% else %}
                <li> Sem tarefas </li>
                {% endfor %}
        </ul>
        <form action="/add" method="POST">
            <input type="text" name="task_title" placeholder="Nova tarefa" />
            <input type="text" name="task_description" placeholder="Descrição" />
            <button type="submit">Adiciona</button>
        </form>
    </body>
</html>